.header {
    display: grid;
    grid-template-columns: 100px 700px;
    justify-content: space-around;
    align-items: center;
    grid-gap: 0
}

.calendar, .calendar .calendar-header {
    display: grid;
    grid-template-columns: 80px 80px 80px 80px 80px 80px 80px;
    justify-content: none;
    align-items: none;
    grid-gap: 2px
}

.calendar .calendar-header {
    grid-column: 1/span 7;
    grid-template-columns: 200px 160px 200px;
    grid-gap: 0
}

.calendar .day-off {
    grid-column: 1/span 4
}

.booking, .contact, .footer, .games, .price {
    display: grid;
    grid-template-columns: 612px 300px;
    justify-content: center;
    align-items: center;
    grid-gap: 20px
}

.booking .h1 {
    grid-column: 1/span 2
}

.contact, .footer, .games, .price {
    grid-template-columns: 300px 300px 300px 300px;
    grid-gap: 50px
}

.games .h1 {
    grid-column: 1/span 4
}

.contact, .footer, .price {
    grid-template-columns: 400px 400px 400px
}

.price .h1 {
    grid-column: 1/span 3
}

.contact, .footer {
    grid-template-columns: 700px 300px;
    align-items: none;
    grid-gap: 20px
}

.footer {
    grid-template-columns: 200px 300px 200px;
    justify-content: space-around;
    align-items: center;
    grid-gap: 0
}

.navigation, .social-link {
    list-style: none;
    margin: 0;
    padding-left: 0
}

.navigation li, .social-link li {
    display: inline-block
}

.navigation a {
    text-decoration: none;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
    color: #f0f0f0;
    margin-left: 30px
}

.navigation a:hover {
    color: #dbcae2
}

.social-link {
    text-align: center
}

.social-link li {
    padding-right: 20px
}

.header {
    height: 80px;
    padding: 10px
}

.calendar, .footer, .header {
    background: rgba(0, 0, 0, .6)
}

.footer {
    margin-top: 119px;
    padding: 10px 0
}

.footer p {
    font-size: 18px;
    margin: 0
}

.calendar {
    border: solid 1px #f0f0f0;
    border-radius: 10px;
    padding: 20px
}

.calendar-header .previous-month {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 21;
    color: #dbcae2
}

.calendar-header .current-month, .calendar-header .next-month {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
    color: #fff;
    text-align: center
}

.calendar-header .next-month {
    font-size: 21;
    color: #dbcae2;
    text-align: right
}

.day, .day-past, .footer p, .weekend-day {
    font-family: Verdana, Geneva, sans-serif;
    color: #f0f0f0
}

.day, .weekend-day {
    font-size: 14px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px
}

.day-past {
    background-color: #613c7e;
    height: 51px
}

.day-future, .day-past, .day-today {
    border-radius: 10px;
    padding: 10px;
    font-size: 30px
}

.day-today {
    font-family: Verdana, Geneva, sans-serif;
    color: #f0f0f0;
    background-color: #bd2525
}

.day-future {
    background-color: #613c7e
}

.day-future:hover {
    background-color: #411768;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 30px;
    color: #fff
}

.day-future .sits, .day-future:hover .sits {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: #fff
}

.day-future .sits {
    color: #dbcae2
}

.booking-btn, .booking-parametrs p, .cost, .day-future, .h1, h1 {
    font-family: Verdana, Geneva, sans-serif;
    color: #f0f0f0
}

h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 30px
}

.booking-parametrs p {
    margin: 10px 0
}

.booking-parametrs input, .booking-parametrs select, .booking-parametrs textarea {
    width: 300px;
    padding: 10px 0;
    border: solid 2px #dbcae2;
    border-radius: 10px
}

.booking-btn, .booking-parametrs p, .cost, .h1 {
    font-size: 18px
}

.booking-btn {
    width: 200px;
    border: solid 2px #f0f0f0;
    border-radius: 10px;
    text-decoration: none;
    background: 0 0;
    padding: 10px;
    margin-top: 10px
}

.booking-btn:hover {
    border: solid 2px #dbcae2;
    border-radius: 10px
}

.cost, .h1 {
    margin-top: 25px
}

.h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 30px
}

body {
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    margin: 0
}
.modal {
    display: none;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 2;
    min-width: 100%;
    min-height: 100%;
    background-color: #0e0e0eb8;
}

.modal-content {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 24px;
    max-height: 70%;
    min-width: min-content;
    width: 25%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    z-index: 3;
    opacity: 1;
    top: 10%;
}

.modal-content form {
    margin-bottom: 10px;
}

.modal-content input {
    border-bottom: 1px solid gray;
    padding: 0px;
    width: 100%;
}
